<img style="width: 250px;" src="{{ absolute_url(asset('img/logo_louvre.png')) }}" alt="Logo du musée du Louvre" />

<h2>Madame, Monsieur,</h2>

<p>
    Votre réservation en date du <strong>{{ Commande.dateEntree|date('d/m/Y à H:i:s') }}</strong> a bien été prise en compte.
    Nous vous remercions de l'intérêt que vous porté à notre musée et ci-dessous, le billet a présenter dès votre arrivé
    au musée.
</p>

<div class="info" style="background-color: #f8f8f8; border: 1px solid black; padding: 10px;">
    <p><strong>Date de réservation :</strong> {{ Commande.dateEntree|date('d/m/Y') }}</p>
    <p><strong>Tarif :</strong> {{ Commande.prix }} &euro;</p>
    <p><strong>Type :</strong> {{ Commande.type }}</p>
    <p><strong>Visiteurs :</strong></p>
    <ul>
        {% for billet in Commande.billets %}
            <li>{{ billet.nom }} {{ billet.prenom }}</li>
        {% endfor %}
    </ul>
    <p><strong>Code de réservation : </strong>{{ Commande.bookingCode }}</p>
</div>

<p>Rappel : Si vous avez coché la case "Réduction", il vous faudra présenter à l'entrée du musée en même temps que votre billet,
votre justificatif prouvant bien que vous avez accès a cette réduction.</p>
