{# MI/BilletterieBundle/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--<meta http-equiv="x-ua-compatible" content="ie=edge">-->

    <title>Billetterie du Louvre</title>
    <!-- Font Awesome -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,800,600,300,300italic,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/materialize.css') }}">
        <link rel="stylesheet" href="{{ asset('css/magnific-popup.css') }}">
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/mdb.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('css/responsive.css') }}">
    {% endblock %}

</head>

<body>

<div class='preloader'><div class='loaded'>&nbsp;</div></div>



{% block Home %}

{% endblock %}

<section id="footer" class="footer">

    <div class="main_coppyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="copyright_text m-t-2 text-xs-center">
                        <p class="wow zoomIn" data-wow-duration="1s">Site Web réalisé par <a href="https://www.linkedin.com/in/gu%C3%A9nol%C3%A9-le-quentrec-7b3aa2147/">
                                Guénolé Le Quentrec</a>2017. All Rights Reserved
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="socail_coppyright text-sm-right m-t-2 text-xs-center wow zoomIn">
                        <a href="#!"><i class="fa fa-facebook"></i></a>
                        <a href="#!"><i class="fa fa-twitter"></i></a>
                        <a href="#!"><i class="fa fa-google-plus"></i></a>
                        <a href="#!"><i class="fa fa-rss"></i></a>
                        <a href="#!"><i class="fa fa-vimeo"></i></a>
                        <a href="#!"><i class="fa fa-pinterest"></i></a>
                        <a href="#!"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>







<!-- /Start your project here-->


<!-- SCRIPTS -->
{% block js %}
<!-- JQuery -->
<script type="text/javascript" src="{{ asset('js/jquery-2.2.3.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/tether.min.js') }}"></script>
<script type="text/javascript" src="{{ asset ('js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/mdb.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/jquery.mixitup.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/jquery.magnific-popup.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/accordion.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/materialize.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/plugins.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/main.js') }}"></script>
{% endblock %}

<script>
    $(".button-collapse").sideNav();
</script>

<!-- wow js active -->
<script type="text/javascript">
    new WOW().init();
</script>




</body>

</html>